.MenuItemClass
{
    BACKGROUND-COLOR: #ddecfe
}
.HeaderMenuClass
{
    BACKGROUND-COLOR: #ffffff
}
.NavBar
{
    background-color: #FFFFFF; 
    border: 1px solid #000000; 
    padding: 2px;
    padding-bottom: 1px;
    cursor: default; 
} 
.TopItem
{
    background-color: #663e8f;
    font-family: tahoma, verdana;
    font-size: 11px;
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 2px;
    cursor: hand;
    color: #ffffff;
}

.TopItemHover
{
    font-family: tahoma;
    font-size: 11px;
    font-weight: bold;
    cursor: hand;
    color: White;
    background-color: #996699;
}
.Level2Item
{
    font-family: tahoma, verdana;
    font-size: 11px;
    color:  #663e8f;
    cursor: hand;
    border-bottom:solid 1px silver;
    background-color:White;

}

.Level2ItemHover
{
    color: white;
    font-family: tahoma, verdana;
    font-size: 11px;
    text-decoration: none;
    cursor: hand;
    background-color:#663e8f;
    border-bottom:solid 1px #663e8f;


}
.Level2Group
{

    border:solid 1px #663e8f;
    background-color:White;
    color: #663e8f;
}

.SiteMap
{
    font-family: verdana; 
    font-size: 15px;
    color:Gray;
}

.BreadcrumbsNode
{
    font-family: verdana; 
    font-size: 15px;
    text-decoration:none;
} 

.BreadcrumbsNode a
{ 
    color: black;
    text-decoration:none;
} 

.BreadcrumbsNode a:hover
{ 
    color:#990000;
    text-decoration:underline;
} 
.BreadcrumbsLeafNode
{
    color:#990000;
    font-family: verdana; 
    font-size: 15px;
    text-decoration:none;
}
.Info
{
    color: #663e8f;
    font-family: verdana;

    text-decoration: none;
    border-right: #ffffff thin solid;
    border-top: #ffffff thin solid;
    border-left: #ffffff thin solid;
    border-bottom: #ffffff thin solid;
}  
.infoBold
{
    color: #663e8f;
    font-family: verdana;
    font-size: 10px;
    text-decoration: none;
    border-right: #ffffff thin solid;
    border-top: #ffffff thin solid;
    border-left: #ffffff thin solid;
    border-bottom: #ffffff thin solid;
    font-weight: bold;
}